<div class="row">
  <div class="col-12">
    <ngx-status-card title="Help F&SC squads realize business value by accelerating their adoption of IBM cloud." type="primary">
      <!-- <i class="nb-lightbulb"></i> -->
      <i class="ion-disc"></i>
    </ngx-status-card>
  </div>  
</div>


<div class="row">
  <div class="col-12">
    <h5 class="text-heading">Our Guilds</h5>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Cloud Guild" type="primary">
      <!-- <i class="nb-lightbulb"></i> -->
      <i class="fa fa-cloud-upload"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Cyber Security Guild" type="primary">
      <!-- <i class="nb-roller-shades"></i> -->
      <i class="fa fa-lock"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Mainframe Devops Guild" type="primary">
      <!-- <i class="nb-audio"></i> -->
      <i class="fa fa-retweet"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Resiliency Guild" type="primary">
      <!-- <i class="nb-coffee-maker"></i> -->
      <!-- <i class="fa fa-newspaper-o"></i> -->
      <i class="ion-link"></i>
    </ngx-status-card>
  </div>
</div>
